%header
	%h1 About Mister Ink's Custom Tattooing

#main_content
	%p
		Mister Ink was born under a freeway in Los Angeles, CA.  Raised by illiterate hobos, he had a keen understanding of street culture and the importance of generosity and compassion.  He began tattooing at the age of 12 and won Tattoo Artist of the Decade in 1980.
	%p
		We've made it our mission to continue Mister Ink's legacy and humanitarian missions.  For every tattoo a customer buys, we give a tattoo to a child in need.