%header
	%h1 Welcome to Mister Ink's Custom Tattooing
	
#main_content
	%h2 You pick it, we stick it

	%p
		At Mister Ink's, we repsect our craft, our mothers and your body.  We are so serious about tattooing and making our customers happy that if you're not happy with your tattoo, we'll refund your money and give you a neck piece for free.
	%p
		Just head on down to any of our locations, pick the piece that you want to stare at for the rest of your life and we'll put it on you.